<div class="aarhus-second aarhus-second-sensor-vertical"
     data-ng-class="{'darkmode': ikSlide.darkmodeEnabled}"
     data-ng-style="{'width': theStyle.width, 'height': theStyle.height, 'font-size': theStyle.fontsize}">
  <!-- Hack to alter ::after -->
  <style type="text/css" data-ng-if="ikSlide.options.themecolor">
    .slide-{{ikSlide.uniqueId}} .aarhus-second-sensor-vertical h2:after {
      background-color: {{ ikSlide.options.themecolor }}
    }
  </style>
  <div class="aarhus-second--container live">

    <div class="image" data-ng-style="{'background-image': 'url(' + ikSlide.currentImage + ')', 'background-color': ikSlide.options.bgcolor}">
      <div class="item fade"></div>
    </div>

    <div class="title" data-ng-bind-html="ikSlide.options.text" data-ng-style="{'color': ikSlide.options.headingcolor}"></div>

    <div class="textboxes">
      <div class="textbox box{{ $index + 1 }}"
           data-ng-repeat="production in ikSlide.external_data | limitTo: 3 track by $index">
        <div class="item">
          <h2>{{production.name}}</h2>
          <div class="data">
            <div class="data-type" data-ng-style="{'color': ikSlide.options.themecolor}">
              <div class="data-type-icon" data-ng-style="{'color': ikSlide.options.themecolor}">
                <i class="{{production.icon_classes}}" data-fa-transform="rotate-{{ production.icon_rotate }}"></i>
              </div>
              <span class="data-type-unit" data-ng-bind-html="production.unit"></span>
            </div>
            <div class="data-amount">
              <span class="counter js-counter" data-count="{{production.value}}" data-ng-if="production.count_up"></span>
              <span class="counter" data-ng-if="!production.count_up">{{production.value}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item footer medium">
      <p class="facttext"
         data-ng-if="ikSlide.factIndex === $index"
         data-ng-repeat="fact in ikSlide.options.texts track by $index"><span
          class="def" data-ng-style="{'color': ikSlide.options.factcolor}">Fakta: </span><strong>{{ fact.text }}</strong>
      </p>
    </div>
    <img ng-if="ikSlide.darkmodeEnabled" class="aarhus-second--logo"
         data-ng-src="{{ikSlide.path + '../../assets/AAK_01_venstrejusteret_negative.svg'}}"
         alt="Aarhus kommune">
    <img ng-if="!ikSlide.darkmodeEnabled" class="aarhus-second--logo"
         data-ng-src="{{ikSlide.path + '../../assets/AAK_01_venstrejusteret_sh.svg'}}"
         alt="Aarhus kommune">
  </div>
</div>
