<div class="aarhus-second aarhus-second-sensor"
     data-ng-class="{'darkmode': ikSlide.darkmodeEnabled}"
     data-ng-style="{'font-size': theStyle.fontsize}">
  <!-- Hack to alter ::after -->
  <style type="text/css" data-ng-if="ikSlide.options.themecolor">
    .slide-{{ikSlide.uniqueId}} .aarhus-second-sensor h2:after {
    background-color: {{ ikSlide.options.themecolor }}
    }
  </style>

  <div class="aarhus-second--container live">
    <div class="item image"
         data-ng-style="{'background-image': 'url(' + ikSlide.currentImage + ')', 'background-color': ikSlide.options.bgcolor}">
      <div class="item fade"></div>
    </div>
    <div class="aarhus-second-sensor--content">
      <div class="box-container">
        <div class="textbox" data-ng-repeat="field in ikSlide.external_data | limitTo: 4">
          <div class="item">
            <h2>{{field.name}}</h2>
            <div class="data">
              <div class="data-type">
                <div class="data-type-icon" data-ng-style="{'color': ikSlide.options.themecolor}">
                  <i class="{{field.icon_classes}}" data-fa-transform="rotate-{{ field.icon_rotate }}"></i>
                </div>
                <div class="data-type-unit" data-ng-style="{'color': ikSlide.options.themecolor}" data-ng-bind-html="field.unit"></div>
              </div>
              <div class="data-amount">
                <span class="counter js-counter" data-count="{{field.value}}" data-ng-if="field.count_up"></span>
                <span class="counter" data-ng-if="!field.count_up">{{field.value}}</span>
                {{field.value_suffix}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item footer medium">
      <p class="facttext" ng-bind-html="ikSlide.options.text"></p>
    </div>
    <img class="aarhus-second--logo"
         data-ng-src="{{ikSlide.path + '../../assets/AAK_01_venstrejusteret_sh.svg'}}"
         alt="Aarhus kommune">
  </div>
</div>
