.aakb-digital-contact {
    --sizer: 1rem;
    --padding: calc(var(--sizer) * 3);
    --color-primary: #ee0043;
    --color-gray-100: #f6f6f6;
    --color-gray-300: #cccccc;
    --color-gray-900: #222222;
    --font-family-primary: "Arial Black", Arial, sans-serif;
    --font-family-secondary: Arial, sans-serif;
    --shadow: 0 calc(var(--sizer) / 3) var(--sizer) rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;
    font-family: var(--font-family-secondary);
    font-size: var(--sizer);
    color: var(--color-gray-900);
    background-color: var(--color-gray-100);
    line-height: 1.25;
    grid-gap: 0;
    text-align: left; /* Nessesary to overwrite admin styles */
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}
.tpl-contact-title {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-color: white;
    padding: var(--padding);
    align-self: start;
}
.tpl-contact-title h1{
    font-family: var(--font-family-primary);
    font-weight: 900;
    font-size: calc(var(--sizer) * 4);
    text-transform: uppercase;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
}
.tpl-contact-title h1:after {
    content: "";
    height: calc(var(--sizer) / 2);
    width: calc(var(--sizer) * 10);
    background-color: var(--color-primary);
    display: block;
    margin-top: calc(var(--sizer) * 2);
}
.tpl-contact-content {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    background-color: var(--color-gray-100);
    padding: var(--padding);
    align-self: start;
    font-size: calc(var(--sizer) * 2);
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 50% 50%;
}
.tpl-contact-content--col {
    margin-bottom: calc(var(--sizer) * 2);
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}
.tpl-contact-content--col-image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
}
.tpl-contact-content--col-info {
    padding-left: var(--sizer);
}
.tpl-contact-content--col-info h3 {
    margin-block-start: 0;
    margin-block-end: var(--sizer);
}
.tpl-contact-content--col-info p {
    margin-block-start: 0;
    margin-block-end: calc(var(--sizer) / 2);
}