@import "../../sass/aarhus-second";

.aarhus-second-image-text-right {
  .item.footer {
    z-index: 2;
    .logo {
      bottom: 25%;
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
    background-size: cover;
    background-position-y: bottom;
    opacity: 0;
    animation-name: box-reveal;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 2;
  }
  .textbox {
    position: absolute;
    top: 0;
    left: 45%;
    width: 55%;
    height: 100%;
    background: $color-light-grey;
    box-shadow: $shadow-box;
    z-index: 3;
    h1 {
      color: $color-grey;
    }

    .textbox-content {
      padding: 4%;
    }

    .data {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: flex-start;
      margin-bottom: 1.875em;
      .data-type {
        color: $color-pink;
        font-family: $font-family-black;
        font-size: 2.813em;
        line-height: 1em;
        flex-basis: 20%;
        span {
          margin: 0;
          padding: 0;
        }
      }
      .data-amount {
        color: $color-grey;
        font-family: $font-family-black;
        font-size: 12.5em;
        line-height: 1em;
        flex-basis: 80%;
        text-align: right;
        span {
          margin: 0;
          padding: 0;
        }
      }
      .data-location {
        width: 100%;
      }
    }
    p {
      font-family: $font-family-regular;
      font-size: $font-size-p;
      color: $color-grey;
      margin: 0 0 0.625em 0;
    }

    h2:after {
      display:none;
    }
  }

  .footer.small {
    &.aarhus-second-image-text-right--footer {
      display: flex;
      align-items: center;
    }

    .aarhus-second-image-text-right--footer-content {
      height: 45%;
      margin-left: 2%
    }

    .aarhus-second-image-text-right--logo {
      height: 100%;
      vertical-align: 0;
    }
  }
}
