@keyframes box-reveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes progress-bar {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes h1-underline {
  0% {
    opacity: 0;
    width: 100%; }
  40% {
    opacity: 1;
    width: 100%;
    margin-top: 0.938em;
    height: 0.375em; }
  70% {
    opacity: 1;
    width: 100%;
    margin-top: 0.625em;
    height: 0.2em; }
  100% {
    opacity: 1;
    width: 5em;
    margin-top: 0.625em; } }

@keyframes text-hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

@keyframes text-reveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important; }

.tpl-container {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: relative; }

.tpl-item-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.55) 0%, rgba(51, 51, 51, 0) 100%);
  z-index: 25; }

.tpl-progress {
  position: fixed;
  width: 100%;
  height: 0.188em;
  background-color: rgba(245, 245, 245, 0.8);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 100; }
  .tpl-progress-bar {
    display: block;
    width: 0%;
    height: 0.188em;
    background-color: #EE0043;
    animation-name: progress-bar;
    animation-duration: 30s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards; }

.tpl-time {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 100; }
  .tpl-time p {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    color: #fff;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 0;
    padding: 0; }
  .tpl-time-dark p {
    color: #333;
    text-shadow: none; }

.tpl-footer {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #f5f5f5;
  z-index: 3; }
  .tpl-footer-small {
    height: 12%; }
  .tpl-footer-medium {
    height: 25%; }
  .tpl-footer-logo {
    position: fixed;
    left: 2%;
    bottom: 3%; }

.tpl-h1 {
  position: relative;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  line-height: 1.125em;
  color: #333;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 0.625em; }
  .tpl-h1:after {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    height: 0.20em;
    background-color: #EE0043;
    width: 100%;
    margin-top: -0.625em;
    transition: width .3s ease-out;
    animation-name: h1-underline;
    animation-delay: .5s;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }

.tpl-h2 {
  position: relative;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  color: #333;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  display: inline-block; }
  .tpl-h2:after {
    opacity: 1;
    content: "";
    display: block;
    position: absolute;
    height: 0.20em;
    background-color: #EE0043;
    width: 3.75em;
    margin-top: 0.313em; }

.tpl-h3 {
  position: relative;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  color: #333;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  display: inline-block; }

@font-face {
  font-family: 'Arial Black';
  src: url("../fonts/arial_black-webfont.woff2") format("woff2"), url("../fonts/arial_black-webfont.woff") format("woff"), url("../fonts/arial_black-webfont.ttf") format("truetype"); }

.tpl-container {
  background-color: #262626; }

.tpl-image {
  position: absolute;
  top: -5%;
  left: -5%;
  height: 85%;
  width: 110%;
  background-size: cover;
  background-position-y: bottom;
  opacity: 0;
  animation-name: box-reveal;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 2;
  filter: blur(0px); }

.tpl-title {
  position: absolute;
  top: 10%;
  left: 2%;
  z-index: 50; }
  .tpl-title-h1 {
    color: #fff;
    font-size: 2.188em;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); }

.tpl-countdown {
  position: absolute;
  top: 30%;
  left: 2%;
  width: 72%;
  height: 30%;
  background: #1D1D1D;
  padding: 2% 12%; }
  .tpl-countdown-clock {
    text-align: center; }
    .tpl-countdown-clock.flip-clock-wrapper ul li a div.inn {
      background-color: #fff;
      text-shadow: none;
      color: #262626; }
    .tpl-countdown-clock.flip-clock-wrapper .flip-clock-divider {
      color: #EE0043; }
      .tpl-countdown-clock.flip-clock-wrapper .flip-clock-divider.hours .flip-clock-label, .tpl-countdown-clock.flip-clock-wrapper .flip-clock-divider.minutes .flip-clock-label, .tpl-countdown-clock.flip-clock-wrapper .flip-clock-divider.seconds .flip-clock-label {
        left: 1.1em; }
      .tpl-countdown-clock.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
        top: auto;
        bottom: -1.5em;
        right: auto;
        left: .1em;
        color: #EE0043;
        text-align: left;
        font-size: 2em; }
      .tpl-countdown-clock.flip-clock-wrapper .flip-clock-divider .flip-clock-dot {
        visibility: hidden; }

.tpl-facttext {
  margin: 2.5em 1.875em;
  text-align: center; }
