@import "_main-styles";

// template 05-01_sensor-data-enkelt
.harbour-template_05-01 {
    .image {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 45%;
        background-size: cover;
        background-position-y: bottom;
        opacity: 0;
        animation-name: box-reveal;
        animation-duration: 0.7s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        z-index: 2;
    }
    .textbox {
        position: fixed;
        top: 0%;
        left: 45%;
        width: 51%;
        height: 100%;
        padding: 2%;
        background: $color-light-grey;
        box-shadow: $shadow-box;
        z-index: 50;
        h1 {
            color: $color-grey;
            margin: 0 0 20px 0;
        }
        .data {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: flex-start;
            margin-bottom: 30px;
            .data-type {
                color: $color-pink;
                font-family: $font-family-black;
                font-size: 45px;
                line-height: 45px;
                flex-basis: 20%;
                // justify-content: flex-end;
                span {
                    margin: 0;
                    padding: 0;
                }
            }
            .data-amount {
                color: $color-grey;
                font-family: $font-family-black;
                font-size: 200px;
                line-height: 200px;
                flex-basis: 80%;
                // justify-content: flex-end;
                text-align: right;
                span {
                    margin: 0;
                    padding: 0;
                }
            }
            .data-location {
                width: 100%;
            }
        }
        p {
            font-family: $font-family-regular;
            font-size: $font-size-p;
            color: $color-grey;
            margin: 0 0 10px 0;
        }
    }
}