@import "_main-styles";

// template 08-01_info-vertikal
.harbour-template_08-01 {
    .image {
        position: fixed;
        right: 0;
        width: 42%;
        height: 100%;
        background-size: cover;
        background-position-y: bottom;
        opacity: 0;
        animation-name: box-reveal;
        animation-duration: 0.7s;
        animation-delay: 0.4s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        z-index: 50;
    }
    .textbox {
        position: fixed;
        top: 8%;
        left: 0;
        width: 48%;
        height: 30%;
        padding: 2%;
        h1 {
            color: $color-grey;
        }
        p {
            font-family: $font-family-regular;
            font-size: $font-size-p;
            color: $color-grey;
            margin: 0 0 0.625em 0;
        }
    }
}