// Imports
@import "_variables";
@import "_animation";

// Main styles

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: $font-family-regular;    
}
.harbour {

    &.container {
        width: 100%;
        height: 100%;
        background-color: $color-light-grey;

        .item {
            
            &.progress {
                position: fixed;
                width: 100%;
                height: 3px;
                background-color: rgba( $color-light-grey, .80);
                box-shadow: $shadow-box-small;

                .progress-bar {
                    display: block;
                    width: 0%;
                    height: 3px;
                    background-color: $color-pink;
                    transition: width .3s ease-out;
                    animation-name: progress-bar;
                    animation-duration: 30s;
                    animation-delay: 0.2s;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-out;
                    animation-fill-mode: forwards;
                }
                z-index: 100;
            }

            &.fade {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 25%;
                background: linear-gradient(to bottom, rgba( $color-grey, .55) 0%, rgba($color-grey, .0) 100%);
                z-index: 25;
            }

            &.time {
                position: absolute;
                top: 2%;
                left: 2%;
                z-index: 100;

                p {
                    font-family: $font-family-black;
                    font-size: 20px;
                    color: $color-white;
                    text-shadow: $shadow-text;
                    margin: 0;
                    padding: 0;
                }

                &.dark {
                    p {
                        color: $color-grey;
                        text-shadow: none;
                    }
                }
            }

            &.footer {
                height: auto;
                width: 100%;
                position: fixed;
                bottom: 0;
                background: $color-light-grey;
                z-index: 3;
                &.small {
                    height: 12%;
                }

                &.medium {
                    height: 25%;
                }
                
                .logo {
                    position: fixed;
                    left: 20px;
                    bottom: 20px;
                }
            }
            
        }
    }

    h1{
        position: relative;
        font-family: $font-family-black;
        font-size: $font-size-h1;
        color: $color-grey;
        margin: 0 0 20px 0;
        text-transform: uppercase;
        display: inline-block;
        padding-bottom: 10px;
        &:after {
            opacity: 0;
            content: "";
            display: block;
            position: absolute;
            height: 4px;
            background-color: $color-pink;
            width: 100%;
            margin-top: -10px;
            transition: width .3s ease-out;
            animation-name: h1-underline;
            animation-delay: .1s;
            animation-duration: .7s;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    }
    h2{
        position: relative;
        font-family: $font-family-black;
        font-size: $font-size-h2;
        color: $color-grey;
        margin: 0 0 20px 0;
        text-transform: uppercase;
        display: inline-block;
        padding-bottom: 10px;
        &:after {
            opacity: 1;
            content: "";
            display: block;
            position: absolute;
            height: 4px;
            background-color: $color-pink;
            width: 60px;
            margin-top: 5px;
        }
    }
}